.stilo{ 
    margin-left: 460px;
    margin-top: 30px;
    
   
}
.margem{
    margin-top: 10px;
}

.margemb{
    margin: 10px;
    margin-left: 350px;
}

.img{
    background-image: url("harrypotter.jpg");
}
